body {
  color: rgb(50,50,50);
}

a {
    color: inherit;
}

body > header {
    background-color: rgb(50,50,50);
    color: white;
    padding: 3% 1%;
    box-shadow: 0 3px 5px #999;
}

body > section {
    margin: 3% 2%;
}

h1 {
    text-shadow: 1px 1px 1px rgb(200,200,200);
}

h1 a {
    text-decoration: none;
}

footer {
  background-color: rgb(80,80,80);
  color: white;
  font-size: 75%;
  padding: 1.5% 1%;
  border-top: 1px dashed rgb(200,200,200);
}

footer a {
    color: #6ac;
    text-decoration: none;
}