{% extends 'base.html' %}

{% block meta_title %}{{ tag }} articles - see also {{ tags|join:', ' }}{% endblock %}

{% block content %}
<header>
    <h1>Articles related to "{{ tag }}"</h1>
</header>
{% for article in articles %}
<article>
    <h1><a href="{% url blog_article article.slug %}">{{ article.title }}</a></h1>
    <p>{{ article.summary }}</p>
</article>
{% endfor %}
<footer>
<p>Other tags that may interested you : {% for ctag in tags %}{% if ctag != tag %}<a href="{% url blog_tag ctag.slug %}" title="See articles related to {{ ctag }}">{{ ctag }}</a> {% endif %}{% endfor %}</p>
</footer>
{% endblock %}