{% extends 'base.html' %}
{% load markup %}

{% block content %}
    <h1>{{ article.title }}</h1>

    <ul class="tags">
        {% for tag in article.all_tags %}
        <li><a href="{% url blog_tag tag.slug %}">{{ tag }}</a></li>
        {% endfor %}
    </ul>

    {{ article.body|markdown }}

    <p>By {{ article.author }} on {{ article.creation_date }}</p>

    <hr />

    <h2>Comments</h2>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'vinyllblog'
            disqus_identifier = "article-{{ article.id }}",
            disqus_title = "{{ article.title }}";

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments.</a></noscript>
{% endblock %}