{% load services %}
<html>
<head>
    <title>{% block meta_title %}A Django and Web developper's Blog{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/css/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/base.css" />
    <link type="text/css" rel="stylesheet" href="/static/js/prettify/prettify.css" />
    
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/js/prettify/prettify.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>

    {% analytics %}
</head>

<body>
    <header>
        <h1><a href="{% url homepage %}">Yet another blog</a></h1>
    </header>
    
    <section>
    {% block content %}
    
    {% endblock %}
    </section>
    
    <footer>
        Blog build with <a href="http://www.djangoproject.com" target="_blank" title="Django, Framework web en Python">Django</a>
        <ul>
            <li>Twitter : <a href="http://twitter.com/vinyll" target="_blank" title="Me suivre sur Twitter">@vinyll</a></li>
            <li>Linked-in : <a href="http://linkedin.com/in/vincentagnano" target="_blank" title="CV sur LinkedIn">linkedin.com/in/vincentagnano</a></li>
        </ul>
    </footer>
</body>
</html>
